@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
  height: 100vh;
}
.site-title h1 {
  font-weight: 400;
  font-family: "Lora", sans-serif;
  color: #491717;
  font-size: 2rem;
  margin: 0;
}
.subtitle {
  font-weight: 700;
  color: #491717;
  font-size: 0.75rem;
  margin: 0;
  text-transform: capitalize;
}
.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
.container-nav {
  display: flex;
  justify-content: space-between;
}

header {
  background-color: white;
  padding: 2em 0;
  box-shadow: 0 4px 8px 0 rgba(22, 22, 22, 0.19);
}
@media (max-width: 675px) {
  .container-nav {
    flex-direction: column;
  }
  header {
    text-align: center;
  }
}
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
nav li {
  margin-left: 2em;
}
nav a {
  text-decoration: none;
  color: #491717;
  font-weight: 600;
  text-transform: capitalize;
  padding: 2em 0;
}
nav a:hover,
nav a:focus {
  color: #491717
}
.current-page {
  color: #491717;
}
.current-page:hover {
  color: #491717;
}
@media (max-width: 675px) {
  nav ul {
    flex-direction: column;
  }
  nav li {
    margin: 0.5em 0;
    
  }
}
/* Home page */
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.landing-text h3 {
  font-weight: 700;
  color: white;
  font-family: "Lora", sans-serif;
}
.landing-text h1 {
  font-size: 450%;
  font-weight: 700;
  color: white;
  font-family: "Lora", sans-serif;
  padding-bottom: 0;
  margin: 0 0;
}
@media (max-width: 600px) {
  .landing-text h1 {
    font-size: 260%;
  }
}
.btn-hire {
  background-color: #491717;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
}
.btn-hire:hover,
.btn-hire:focus {
  background-color: #491717;
}
@media (max-width: 800px) {
  .btn-hire {
    padding: 8px 16px;
  }
}
#hr-main {
  width: 100px;
  height: 5px;
  border-radius: 1rem;
  background-color: white;
  margin-bottom: 8px;
}

/* Munkaink Section */
.gallery-header {
  text-align: center;
  padding: 32px;
}
.gallery-header h1 {
  text-align: center;
  font-weight: 700;
  font-size: 3.2rem;
  color: #491717;
}
@media (max-width: 600px) {
  .gallery-header h1 {
    font-size: x-large;
  }
}
.gallery-header p {
  font-weight: 600;
  color: #181b2c;
}
.gallery-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 14px;
}

.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 6px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
@media (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
@media (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* Árak Section */
.about {
  margin: 3rem 4rem;
  display: flex;
  flex-wrap: wrap;
}
.about-header {
  text-align: start;
}
@media (max-width: 576px) {
  .about-header {
    text-align: center;
  }
}
.about-header h1 {
  font-weight: 700;
  font-size: 3.2rem;
  color: #491717;
}
.about-content p {
  color: #181b2c;
}
/* Kapcsolat Section */
.contact h1 {
  text-align: center;
  font-weight: 700;
  font-size: 3.2rem;
  color: #491717;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 10px 2em;
}
.flex-item-left {
  padding: 10px;
  flex: 50%;
}
.flex-item-left h4 {
  font-weight: 700;
  color: #181b2c;
}
.flex-item-left p {
  font-weight: 400;
  color: #181b2c;
}
.flex-item-right {
  padding: 10px;
  flex: 50%;
}
.flex-item-right form {
  margin: 10px;
}
.flex-item-right form input[type="text"],
select,
textarea {
  font-weight: 400;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.flex-item-right button {
  background-color: #491717;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
  width: 100%;
}
.flex-item-right button:hover,
.flex-item-right button:focus {
  background-color: #491717;
  color: white;
}
@media (max-width: 800px) {
  .flex-item-left,
  .flex-item-right {
    flex: 100%;
  }
}
/* Footer */
footer {
  padding: 20px;
  text-align: center;
  background-color: #491717;
  margin-top: 20px;
  color:white;
}

footer h3 > span,
footer h3 > a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin: 0 auto;
}
#background-video {
  width: 100vw !important;
  height: 100vh !important;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}


.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 90%;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

.login-button {
  background-color: #491717;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 60%;
}

.register-button {
  background-color: #000000;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 50%;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #491717;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.slides1 table tr{
  height: 35px;
  color: #491717;

}
.slides1{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Formázás a price-list-section div-hez */
#price-list-section {
  margin-bottom: 20px;
}

/* Formázás a price-table táblázathoz */
#price-table {
  border-collapse: collapse;
  width: 100%;
}

/* Formázás a táblázat fejlécéhez */
#price-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Formázás a táblázat cellákhoz */
#price-table td, #price-table th {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

/* Formázás a nyitv osztályhoz tartozó képhez */
.nyitv {
  width: 74%; /* Kép maximális szélessége a szülőelemhez viszonyítva */
  height: auto;
  max-width: 100%; /* Kép maximális szélessége */
  
}
.year{
  margin: 75px auto;
  width: 560px;
  padding: 10px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  display: flex;
  background: #FFF;
  box-shadow: 0 10px 50px -15px rgba(0,0,0,0.75);
  
  position: relative;
  
  &:before{
    position: absolute;
    content: attr(data-year);
    color: #E0E0E0;
    top: -60px;
    left: 10px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 64px;
  }
}
.year ul{
  display: inline-block;
  padding: 0;
  margin: 0 1px;
  list-style: none;
  flex: 1;
  
  position: relative;
  
  &:before{
    position: absolute;
    content: attr(data-month);
    color: transparent;
    text-shadow: 0 0 0 rgba(0,0,0,0.25);
    font-family: sans-serif;
    font-weight: 700;
    font-size: 24px;
    
    transform-origin: 0 100%;
    transform: rotate(90deg) translateX(-20px) translateY(0px);
    top: 0px;
    left: 0px;
  }
  
  &:first-child{
    margin-left: 0;
  }
  &:last-child{
    margin-right: 0;
  }
}
.year ul li{
  padding: 0;
  margin: 0;
  height: 22px;
  box-shadow: inset 0 0 0 1px #f0f0f0;
  background: #F8F8F8;
  
  &:before{
    content: attr(data-date);
    color: transparent;
    text-shadow: 0 0 0 rgba(0,0,0,0.25);
    text-align: right;
    right: 2px;
    position: absolute;
    line-height: 24px;
    font-size: 10px;
  }
  
  &[data-day="0"], &[data-day="6"]{
    background: #EEEEEE;
    box-shadow: inset 0 0 0 1px #E0E0E0;
  }
}